.joke {
    place-self: center;
}
// .thumbs {
//     display: contents;
//     display: inline-block;
// }
.joke-div {
    width: 200px;
    height: 200px;
    overflow-y: scroll;
    border: solid 2px black;
    border-radius: 20px;
    display: contents;
    display: inline-block;
    place-self: center;
    // margin-left: 35%;
    // margin-top: 15%;
    background-color: #3b8b85;
    box-shadow: -1px 1px 13px 0px #282D33;
}
.thumbs {
    display: contents;
    display: inline-block;
    margin-top: 1vw;
    margin-left: 1vw;
    cursor: pointer;
}
#left {
    margin-left: 2vw;
}
#right {
    margin-right: 2vw;
    float: right;
}
.the-joke {
    color: #DEEEEC;
    margin: 5%;
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
}