.joke-section {
    height: 610px;
    place-content: center;
}
// .thumbs {
//     display: contents;
//     display: inline-block;
// }
.joke-div {
    width: 30%;
    border: solid 2px black;
    border-radius: 20px;
    display: contents;
    display: inline-block;
    place-self: center;
    margin-left: 35%;
    margin-top: 15%;
    // background-color: #4fb3ab;
    background-color: #3b8b85;
    box-shadow: -1px 1px 13px 0px #282D33;
}
.thumbs {
    display: contents;
    display: inline-block;
    margin-top: 1vw;
    cursor: pointer;
    border: solid .5px black;
    border-radius: 9px;
    background-color: #DEEEEC;
    // box-shadow: -1px 1px 13px 0px #282D33;
}
#left {
    margin-left: 2vw;
}
#right {
    margin-right: 2vw;
    float: right;
}
.joke {
    margin-left: 15%;
    margin-bottom: 3%;
    padding: 5%;
    width: 250px;
    height: 100px;
    overflow-y: scroll;
    border: solid 2px black;
    border-radius: 10px;
    place-self: center;
    background-color: #DEEEEC;
}
.the-joke {
    color: #DEEEEC;
    margin: 5%;
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
}