@import '../variables.scss';

.header-body {
    background-color: #34425A;
    height: 10vh;
}
.header-title {
    margin-bottom: 0;
    color: #DEEEEC;
    @include headerAndFooter;
}
.thumbs-up-list {
    justify-self: end;
    margin-right: 2vw;
    cursor: pointer;
    float: right;
    margin-top: .75vw;
    font-size: xx-large;
}