.header {
    background-color: #34425A;
    align-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 5vw;
}
.title {
    margin: 0;
    margin-left: 2vw;
    color: #DEEEEC;
    grid-column: 1;
    align-self: center;
    cursor: pointer;
}
.thumbs-up {
    justify-self: end;
    margin-right: 2vw;
    cursor: pointer;
}