.header-body {
    background-color: #34425A;
    height: 5vw;
}
.header-title {
    margin-left: 2vw;
    margin-top: 1vw;
    margin-bottom: 0;
    color: #DEEEEC;
    cursor: pointer;
    display: contents;
    display: inline-block;
}
.thumbs-up-list {
    justify-self: end;
    margin-right: 2vw;
    cursor: pointer;
    float: right;
    margin-top: 1vw;
}