.footer-body {
    background-color: #34425A;
    height: 5vw;
}
.footer-title {
    color: #34425A;
    font-size: x-large;
    font-family: 'Roboto', sans-serif;
    margin-left: 2vw;
    margin-top: 1vw;
    cursor: pointer;
    display: contents;
    display: inline-block;
}
.footer-link {
    text-decoration: none;
}